# Model parameters in TOML format

title = "Degree day model parameter file for user defined options in the app"

[runtime]
nNodes = 5           # Number of compute nodes to use
save2file = true     # If true save the full result to a JLD2 file
save1year = true     # if true save first year's results, otherwise
                     # save all years from simYear tp simYear+meaxYears-1
missing2zero = true  # if true set anomaly missing values to zero (workaround for bug in the app)

[paths]   # All paths are relative to the user's home directory
output =  "/media/jon/Seagate_5TB/OPRAM_results"      # Folder to save model output
data = "DATA//OPRAM"                     # Folder for other model data
meteoIE = "DATA//OPRAM//Climate_JLD2"    # Folder containing meteo data for ROI
meteoNI =  "nothing"                     # Folder containing meteo data for NI

[inputData]   # Input data on the model grid and species params
speciesFile = "git_repos/OPRAM/data/userdefined_parameters.csv"
gridFile = "git_repos/OPRAM/data/IE_grid_locations.csv"
countyDefs = "git_repos/OPRAM/data/granite_county_defs.csv"

[model]     # Parameters to define the model
nReps = 1  # Number of replicates to run
rcp = ["26","45","85"]     # Climate future RCP
futurePeriod = ["2021-2050", "2041-2070"]        # Years to run model
maxYears = 4         # Maximum number of years to complete insect development
thirty_years = [1991, 2020]             # 30yr period to average
country = "IE"       # Can be "IE", "NI" or "AllIreland"
thinFactor = 1       # Factor to thin grid (2 = sample every 2 km, 5 = sample every 5km)
method = "triangle"   # degree-day algorithm ("sine","triangle","average")
speciesList = ["all"]
